body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	/* font-family: 'Nunito', sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.modal-open {
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Toastify__progress-bar {
	animation-direction: reverse;
}
